---
import Layout from '../layouts/Layout.astro';
import SearchPage from '../components/search/SearchPage';
---

<Layout title="Búsqueda de Entidades">
  <div class="min-h-screen bg-neutral-white">
    <SearchPage client:load />
  </div>
</Layout>
