---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/common/Footer.astro";
import Navbar from "../components/common/Navbar.astro";
import "../styles/global.css";

interface Props {
    title?: string;
}

const { title = "Monitor Elecciones" } = Astro.props;
const { pathname } = Astro.url;
const isOnboarding = pathname.includes("/onboarding");
---

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'self';
		               script-src 'self' 'unsafe-inline' 'unsafe-eval' https://nominatim.openstreetmap.org;
		               style-src 'self' 'unsafe-inline';
		               img-src 'self' data: https:;
		               connect-src 'self' https://cloud.appwrite.io https://appwrite.sociest.org https://nominatim.openstreetmap.org https://maps.googleapis.com https://ipapi.co;
		               font-src 'self' data:;
		               frame-ancestors 'self';
		               base-uri 'self';
		               form-action 'self'"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta http-equiv="X-Content-Type-Options" content="nosniff" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <ClientRouter />
        <title>{title}</title>

        <script
            is:inline
            define:vars={{
                baseUrl:
                    (import.meta.env.PUBLIC_BASE_URL ?? "/") +
                    (import.meta.env.PUBLIC_BASE_ROUTE ?? "/"),
            }}
        >
            (function () {
                const onboardingCompleted = localStorage.getItem(
                    "onboarding_completed"
                );
                const isOnboardingPage =
                    window.location.pathname.includes("/onboarding");

                if (!onboardingCompleted && !isOnboardingPage) {
                    const redirectPath =
                        (baseUrl === "/" ? "" : baseUrl) + "/onboarding/1";
                    window.location.href = redirectPath;
                }
            })();
        </script>
    </head>
    <body class="flex flex-col min-h-screen">
        {!isOnboarding && <Navbar />}
        <main class="grow">
            <slot />
        </main>
        {!isOnboarding && <Footer />}
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
    }
</style>
